%% -*- erlang -*-

{deps, [
        {lager, ".*",
         {git, "git://github.com/basho/lager", {branch, "master"}}},
        {rebar_lock_deps_plugin, ".*",
         {git, "git://github.com/seth/rebar_lock_deps_plugin.git", {branch, "master"}}},
        {rebar_vsn_plugin, ".*",
         {git, "git://github.com/erlware/rebar_vsn_plugin.git", {branch, "master"}}}
       ]}.

{plugins, [rebar_lock_deps_plugin,rebar_vsn_plugin]}.

{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{eunit_opts, [verbose]}.
{cover_enabled,true}.
{cover_print_enabled, true}.

